
<section class="blocchat row">
    <div class="sidebar col-sm-3">
        <h1 class="title-name">[Bloc Chat]</h1>
        <button type="button" ng-click="home.open()" class="btn btn-primary new-room">New Room</button>

            <div class="room-list" ng-repeat="room in home.rooms track by $index">
                <!-- <p></p>
                <div ng-repeat="room in home.rooms">{{ room.$value }}</div>
                <p></p>
                <p></p>
                <div ng-repeat="room in home.rooms">{{ room }}</div> -->
                <p class="individual-room" ng-click="home.selectRoom(room)">{{ room.$value }}</p>
              </div>

      </div>

      <div class="messages col-sm-9">
          <h3 class="room-name"> {{  home.currentRoom.$value }} </h3>
          <table class="msg" ng-repeat="message in home.currentRoom.messages">
              <tr>
                  <td class="msg-username col-sm-1"> {{ message.username }} </td>
                  <td class="msg-date col-sm-1"> {{ message.date }} </td>
                  <td class="msg-content col-sm-10"> {{ message.content }} </td>
                </tr>
            </table>
        </div>
  </section>
