<section>
    <center>
      <div class="modal-header">
        <h4>Create New Room</h4>
      </div>

      <div class="modal-body form-group">
          <input type="text" placeholder="Enter a room name" class="form-control"
            ng-model="modal.newRoom">
        </div>

      <div class="modal-footer">
          <button class="btn btn-success" type="button" ng-click="modal.createRoom()">Create Room</button>
          <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Cancel</button>
        </div>
    </center>
</section>
